body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 50px;
    text-align: center;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: left;
    transition: background-color 0.3s ease;
}

.tab button:hover {
    background-color: #0056b3;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

textarea, button {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
